* {
    box-sizing: border-box;
}

header {
    /*logo*/
    font-family: 'Oxygen', sans-serif;
    font-weight: 1000;
    font-size: 30px;
    color: #174487;
}

#logo {
    max-width: 10%;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(images/background.jpg);
    background-color: #aeb0c9;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #060029;
}

section {
    background-image: url(images/blue_ocean.jpg);
    background-color: #aeb0c9;
    height: 200px;
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a {
    margin: 2%;
    width: auto;
    height: auto;
    padding: 2%;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #060029;
}

nav a :hover {
    background-color: #ffffff;
    color: #174487;
}

#fondoheader {
    max-width: 100%;
}

div {
    background-color: #5369808f
}

div h2 {
    color: #0f0547;
    text-align: center;
    font-size: 35px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
}

P {
    color: #060029;
    font-size: 12px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
}

fieldset {
    display: inline-block;
    margin-left: 40%;
}


footer {
    background-color: #1d164462;
    display: flex;
    justify-content: space-evenly;
}

footer a {
    margin: 2%;
    width: auto;
    height: auto
}

/*diseño responsivo*/
@media screen and (max-width:400px) {

    nav,
    footer {
        flex-direction: column;
        align-items: center;
    }
}